.upvote {
    background-color: var(--light-gray-200);
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 110px;
    color: var(--moderate-blue);
    align-self: flex-start;
}

.upvote h3 {
    font-weight: 500;
}

.upvote button:hover path {
    transition: fill 0.2s linear;
    fill: var(--moderate-blue);
}

.upvote svg {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .upvote {
        flex-direction: row;
        width: 130px;
        height: 45px;
        gap: 1.75rem;
    }
}
